/* -- define Sass vars --*/

// Colors
$gray-blue: #4a76a8; 
$pink-dark: #a84a68;
$teal: #509183;

//font size
$my-font-size: 20px;

// Base Document Colors
$navbar-bg: $gray-blue;

$body-bg: $pink-dark;